@model SACAAE.Models.Professor
@{
    ViewBag.Title = "Revocar Profesor de Curso";
    Layout = "~/Views/Shared/Privado.cshtml";
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/RevocarCursoProfesor.js")"></script>
   
    <script type="text/javascript">
        var tempIndex = 0;
    </script>
   

}

<h2 class="page-header">Revocar Profesor de Curso</h2>
<div class="row-fluid">
    <div class="col-lg-5">
        <div class="span12">
            @if (TempData.ContainsKey("Message"))
            {
                String message = TempData["Message"].ToString();

                if (message.Equals("Profesor revocado del curso correctamente."))
                {
                    <p class="text-success">@message</p>
                }
                else
                {
                    <p class="text-danger">@message</p>
                }
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="editor-label">
                    @Html.Label("Profesor")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Profesores", null, "-- Seleccione Profesor --", htmlAttributes: new { @class = "form-control" })
                    @if (ViewBag.Profesores == null)
                    {

                        @Html.ActionLink("Crear Profesor", "Crear", "Profesor")
                    }
                </div>
                <br />

                <div class="editor-label">
                    @Html.Label("Cursos que imparte")
                </div>
                <div class="editor-field">
                    <select id="sltCursosImpartidos" name="sltCursosImpartidos" class="form-control"></select>
                </div>
                <br />

               
                <div id="table_information_group">

                </div>
                  <p>
                    <!--<input type="submit" value="Revocar" class="btn" id="Revocar" disabled="disabled" />-->
                    
                    @if (ViewBag.returnUrl != null)
                    {
                        <a href="@ViewBag.returnUrl">Cancelar</a>
                    }
                    else
                    {
                        @Html.ActionLink("Cancelar", "Index", "Proyecto");
                    }
                </p>
            }
        </div>
            
    </div>
    
</div>


<!-- Delete professor -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Remover Profesor</h4>
            </div>
            <div class="modal-body">
                <h2>¿Esta seguro que desea remover al profesor del grupo?</h2>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="deleteBtn" onclick="eliminar_asignacion_grupo()">Eliminar</button>
            </div>
        </div>
    </div>
</div>