@model SACAAE.Models.Professor
@{
    ViewBag.Title = "Horario Aula";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div class="col-lg-12">

    <h2> Horario de Profesor </h2>
    <h4>
        <span class="label label-info">
            @Html.DisplayName("Profesor: ")
            @Html.DisplayFor(model => model.Name)
        </span>
    </h4>
    <div id="div_tabla">
    </div>

    |  @Html.ActionLink("Regresar", "Index")  |

</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/scheduleChart.js")"></script>
    <script src="@Url.Content("~/Scripts/date.js")"></script>
}
