@model SACAAE.Models.Classroom

@{
    ViewBag.Title = "Modificar Aulas";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div class="col-md-12">
    <h1>@ViewBag.Title</h1>
</div>

<hr />

@if (TempData.ContainsKey("MessageError"))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["MessageError"].ToString()
    </div>
}
@if (TempData.ContainsKey("MessageSuccess"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["MessageSuccess"].ToString()
    </div>
}

<div class="col-md-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
    
        <div class="form-group">
            @Html.LabelFor(model => model.SedeID, "SedeID", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("Sedes", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SedeID, "", new { @class = "text-danger" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
        </div>
    
        <br />
        <p>
            <input type="submit" value="Guardar" class="btn" />
            | @Html.ActionLink("Atrás", "Index")
        </p>
    }
</div>