@model IEnumerable<SACAAE.Models.ViewModels.GroupAssignmentCSVViewModel>

@{
    ViewBag.Title = "CargarCSV";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/CSVFile.js")"></script>
}

<body>
    <h1 class="page-header">Cargar Archivo CSV</h1>

    <div>
        <h4 style="float:left">  Plantilla CSV:  </h4> 
        <button type="button" class="btn btn-default" id="btnDownloadCSV"> @Html.ActionLink("Descargar", "DownloadCSVTemplate") </button>
    </div>

    <br> 

    <div>
        <h4 style="float:left">   Subir Asignaciones CSV:   </h4>
        <button type="submit" class="btn btn-default" id="btnLoadCSV" disabled style="float:left">  Cargar Asignaciones </button>
        <input type='file' title="Seleccione el archivo CSV" id="fileInput" >
        
    </div>

    <div id="divTabla" hidden>
        <table class="table" id="table" s>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Grupo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profesor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HFinal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoAsignacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DetalleAsignacion)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grupo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profesor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoAsignacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DetalleAsignacion)
                    </td>
                </tr>
            }

        </table>
    </div>
 </body>
