@model IEnumerable<SACAAE.Models.ViewModels.GroupAssignmentCSVViewModel>

@{
    ViewBag.Title = "ResumenAsignacionCSV";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<h2>ResumenAsignacionCSV</h2>

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoAsignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleAsignacion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoAsignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleAsignacion)
        </td>
    </tr>
}

</table>
