@model SACAAE.Models.ViewModels.ProfessorAssignViewModel
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/Privado.cshtml";
}
<script src="@Url.Content("~/Scripts/SiteScripts/projectDetails.js")"></script>
<link href="~/Content/custom.css" rel="stylesheet" />

<br/>
    <h2>Detalles del Proyecto</h2>
    <hr />
<!--Show success message-->
@if (TempData.ContainsKey("MessageError"))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["MessageError"].ToString()
    </div>
}
@if (TempData.ContainsKey("MessageSuccess"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["MessageSuccess"].ToString()
    </div>
}
    <table id="project_information">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="static_info">Nombre</td>
                <td class="dynamic_info">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="static_info">Inicio</td>
                <td class="dynamic_info">@Html.DisplayFor(model => model.Start)</td>
            </tr>
            <tr>
                <td class="static_info">Fin</td>
                <td class="dynamic_info">@Html.DisplayFor(model => model.End)</td>
            </tr>
        </tbody>

    </table>
    <h3>Profesores</h3>
    <a href="@Url.Action("AsignarProfesorProyecto", new { id = Model.ID })">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Asignar Profesor
    </a>

    <table id="professor_assign_project" class="table">
        <thead>
        <th>Nombre</th>
        <th>Horas Dedicadas</th>
        <th>Acciones</th>
        </thead>

        <tbody></tbody>
    </table>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Regresar", "Index")
    </p>

    <!-- Delete professor -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remover Profesor</h4>
                </div>
                <div class="modal-body">
                    <h2>¿Esta seguro que desea remover al profesor del proyecto?</h2>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn" onclick="eliminar_asignacion_proyecto()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
