@model SACAAE.Models.ViewModels.ScheduleProjectViewModel

@{
    ViewBag.Title = "Editar Asignacion";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<link href="~/Content/custom.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/SiteScripts/projectEditAssign.js")"></script>
    
<br />
<h2>Editar Asignacion</h2>
<hr />
@if (TempData.ContainsKey("MessageError"))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["MessageError"].ToString()
    </div>
}
@if (TempData.ContainsKey("MessageSuccess"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["MessageSuccess"].ToString()
    </div>
}

@using (Html.BeginForm("EditarAsignacion", "Proyecto", FormMethod.Post, new { @id = "formPost" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-lg-4">
        <div>
            <div class="editor-label">
                @Html.Label("Proyecto")
                <br />
                @Html.DisplayFor(model => model.Projects)
            </div>
            <br />
            <div class="editor-label">
                @Html.Label("Profesor")
                <br />
                <div class="editor-field">
                    @Html.DropDownList("Professors", null, htmlAttributes: new { @class = "form-control" })
                </div>

            </div>
            <br />
            <div class="editor-field">
                @Html.Label("Tipo de Hora")

                <select id="HourCharge" name="HourCharge" class="form-control ">
                    <option value="1"> Reconocimiento </option>
                    <option value="2">Recargo</option>
                    <option selected="selected" value="3"> Carga </option>
                </select>
            </div>
            <br />
            <div class="editor-label">
                @Html.Label("Horario de Asignacion")
                <table id="assign_project_schedule">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p>
                    <a id="assign_project" onclick="obtener_dias()" > <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Horario</a>
                </p>
            </div>
        </div>
        </div>
    <div class="col-sm-2"></div>
    
    </div>
    @Html.HiddenFor(m => m.Projects)
    <p>
        <input type="button" value="Editar" class="btn" id="Editar_Asignacion" onclick="submit_form()"  /> |
        <input type="button" value="Cancelar" class="btn" id="Cancelar" onclick="my_back(@ViewBag.ProjectID)" />
    </p>
}