
@{
    ViewBag.Title = "CrearOfertaAcademica";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            /* Deshabilitar componentes que no tienen datos cargados */
            $("#sltPlan").prop("disabled", "disabled");
            $("#sltBloque").prop("disabled", "disabled");
            $("#sltCurso").prop("disabled", "disabled");

            /* Se agregan los option por defecto a los select vacíos */
            itemSltPlan = "<option>Seleccione Sede y Modalidad</option>";
            itemSltBloque = "<option>Seleccione Sede, Modalidad y Plan de Estudio</option>";
            itemSltCurso = "<option>Seleccione Sede, Modalidad, Plan de Estudio y Bloque</option>";

            $("#sltPlan").html(itemSltPlan);
            $("#sltBloque").html(itemSltBloque);
            $("#sltCurso").html(itemSltCurso);

            /* Funcion llamada cuando se cambien los valores de las sedes o las modalidades */
            $("#sltModalidad, #sltSede").change(function () {

                var route = "/Plans/Planes/List/" + $('select[name="sltSede"]').val() + "/" + $('select[name="sltModalidad"]').val();
                $.getJSON(route, function (data) {
                    var items = "";
                    $.each(data, function (i, plan) {
                        items += "<option value= " + plan.ID + ">" + plan.Nombre + "</option>";
                    });

                    if (items != "") {
                        $("#sltPlan").prop("disabled", false);
                        $("#sltPlan").html(items);
                        $("#sltPlan").prepend("<option value='' selected='selected'>-- Seleccionar Plan de Estudio --</option>");
                    }
                });
            });

            /* Funcion llamada cuando se cambien los valores de los planes */
            $("#sltPlan").change(function () {
                var route = "/BloqueXPlan/Bloques/List/" + $('select[name="sltPlan"]').val();
                $.getJSON(route, function (data) {
                    var items = "";
                    $.each(data, function (i, bloque) {
                        items += "<option value= " + bloque.Value + ">" + bloque.Text + "</option>";
                    });

                    if (items != "") {
                        $("#sltBloque").prop("disabled", false);
                        $("#sltBloque").html(items);
                        $("#sltBloque").prepend("<option value='' selected='selected'>-- Seleccionar Bloque --</option>");
                    }
                    else {
                        $("#sltBloque").prop("disabled", "disabled");
                        $("#sltBloque").html("<option>No hay bloques para ese plan de estudio.</option>")
                    }
                });
            });

            /* Funcion llamada cuando se cambien los valores de los bloques academicos */
            $("#sltBloque,sltPlan").change(function () {
                var route = "/BloqueXPlanXCurso/Cursos/List/"+$('select[name="sltPlan"]').val() + "/" + $('select[name="sltBloque"]').val();
                $.getJSON(route, function (data) {
                    var items = "";
                    $.each(data, function (i, curso) {
                        items += "<option value= " + curso.Value + ">" + curso.Text + "</option>";
                    });
                    //for (var i = 0; i < data.length; i++) {
                       // items += "<option value='" + data[i]["ID"] + "'>" + data[i]["Codigo"] + " - " + data[i]["Nombre"] + "</option>";
                    //}

                    if (items != "") {
                        $("#sltCurso").prop("disabled", false);
                        $("#sltCurso").html(items);
                        $("#sltCurso").prepend("<option value='' selected='selected'>-- Seleccionar Curso --</option>");
                    }
                    else {
                        $("#sltCurso").prop("disabled", "disabled");
                        $("#sltCurso").html("<option>No hay cursos para el bloque academico de ese plan de estudio.</option>")
                    }
                });
            });
        });

    </script>

}

<h2>Oferta Academica</h2>
@if (TempData.ContainsKey("MessageError"))
{
    <p class="text-danger">@TempData["MessageError"].ToString()</p>
}
@if (TempData.ContainsKey("MessageSuccess"))
{
    <p class="text-success">@TempData["MessageSuccess"].ToString()</p>
}
@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="col-lg-5">
            <div class="span12">
                <label>
                    Período
                </label>
                <select id="sltPeriodo" name="sltPeriodo" class="form-control">
                    @if (ViewBag.Periodos != null)
                    {
                        <option value=" " selected="selected">-- Seleccionar Periodo --</option>
                        foreach (var item in ViewBag.Periodos)
                        {
                            <option value="@item.ID">@item.Nombre</option>
                        }
                    }
                    else
                    {
                        <option selected="selected">No hay Periodos</option>
                    }

                </select>
                <label>
                    Sede
                </label>
                <select id="sltSede" name="sltSede" class="form-control">
                    @if (ViewBag.Sedes != null)
                    {
                        <option value=" " selected="selected">-- Seleccionar Sede --</option>
                        foreach (var item in ViewBag.Sedes)
                        {
                            <option value="@item.ID">@item.Nombre</option>
                        }
                    }
                    else
                    {
                        <option selected="selected">No hay sedes</option>
                    }

                </select>
                @if (ViewBag.Sedes == null)
                {
                    @Html.ActionLink("Agregar Sede", "Crear", "Sede")
                }

                <label>
                    Modalidad
                </label>
                <select id="sltModalidad" name="sltModalidad" class="form-control">
                    @if (ViewBag.Modalidades != null)
                    {
                        <option value=" " selected="selected">-- Seleccionar Modalidad --</option>
                        foreach (var item in ViewBag.Modalidades)
                        {
                            <option value="@item.ID">@item.Nombre</option>
                        }
                    }
                    else
                    {
                        <option selected="selected">No hay modalidades</option>
                    }

                </select>
                @if (ViewBag.Modalidades == null)
                {
                    @Html.ActionLink("Agregar Modalidad", "Crear", "Modalidad")
                }
                <label>
                    Plan
                </label>
                <select id="sltPlan" name="sltPlan" class="form-control"></select>
                <label>
                    Bloque Académico
                </label>
                <select id="sltBloque" name="sltBloque" class="form-control"></select>
                <label>
                    Curso
                </label>
                <select id="sltCurso" name="sltCurso" class="form-control"></select>
                <label>
                    Cantidad de Grupos a Abrir
                </label>
                <input type="number" min="1" value="1" class="form-control" id="cantidadGrupos" name="cantidadGrupos" />
                <br />
                <p>
                    <input type="submit" value="Abrir Oferta" class="btn" />
                    | @Html.ActionLink("Regresar", "Index")
                </p>
            </div>
        </div>
    </div>
}



