@model IEnumerable<SACAAE.Models.ViewModels.GroupsCreatedViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#indexTable').DataTable({
            "language": {
                url: "/Content/DataTables/Spanish.json",
            },
            responsive: true
        });
    });

    function setCookie(cname, cvalue, exdays) {
        document.cookie = cname + "=" + cvalue + "; path=/";
    }

    function savePeriod() {
        setCookie("Periodo", '@ViewBag.IdPeriod', { path: '/' });
        }

    </script>
}

<body onload="savePeriod()">
    <h1 class="page-header">Nuevo Período</h1>

    @if (TempData.ContainsKey("MessageError"))
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["MessageError"].ToString()
        </div>
    }
    @if (TempData.ContainsKey("MessageSuccess"))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["MessageSuccess"].ToString()
        </div>
    }

    <p> Periodo Creado : @ViewBag.Period </p>

    <div class="dataTables_wrapper">
        <table class="table  table-hover" id="indexTable">
            <thead>
                <tr>
                    <th>
                        Grupo
                    </th>
                    <th>
                        Curso
                    </th>
                    <th>
                        Plan de Estudios
                    </th>
                    <th>
                        Sede
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grupo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlandeEstudios)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sede)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>