@model SACAAE.Models.ViewModels.NewScheduleViewModel
@{
    ViewBag.Title = "Horarios";
    Layout = "~/Views/Shared/Privado.cshtml";
}



<style type="text/css">
    div.col-lg-8 table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

    div.col-lg-8 tr {
        border: none;
    }

    div.col-lg-8 td {
        border-right: solid 1px #000;
        border-left: solid 1px #000;
        text-align: center;
    }

    .Horas {
        border-bottom: solid 1px #000;
        border-top: solid 1px #000;
        font-size: medium;
        width: 100px;
        height: 30px;
    }

    .ComboCursosSeleccionados {
        width: 25%;
    }

    .guia {
        width: 0px;
        border-right: none;
    }

    .mitabla {
        font-size: x-small;
        color: #000;
    }

    .encabezado {
        border-bottom: solid 1px #000;
        border-top: solid 1px #000;
        font-size: medium;
    }

    .alineacion-div > div {
        display: inline-block;
        width: 30%;
        margin: 0;
    }
</style>
@section Scripts {
    
    
<script src="~/Scripts/SiteScripts/horario.js"></script>
}


<body onload="Load()">
    <div class="col-lg-4">
        <h2>Gestionar Horarios</h2>
        <hr />
        

        <div class="span12">
            @if (TempData.ContainsKey("MessageError"))
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["MessageError"].ToString()
                </div>
            }
            @if (TempData.ContainsKey("MessageSuccess"))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["MessageSuccess"].ToString()
                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <label>
                    Bloque
                </label>
                <select id="sltBloque" name="sltBloque" class="form-control">
                    @if (ViewBag.Bloques != null)
                    {
                        <option value=" " selected="selected">-- Seleccionar Bloque --</option>
                        foreach (var item in ViewBag.Bloques)
                        {
                            <option value="@item.ID">@item.Description</option>
                        }
                    }
                    else
                    {
                        <option selected="selected">No hay Bloques</option>
                    }
                </select>
                <div class="editor-label">
                    <label>
                        Curso
                    </label>
                </div>
                <select id="sltCurso" name="sltCurso" class="form-control"></select>
                <label>
                    Grupo
                </label>
                <select id="sltGrupo" name="sltGrupo" class="form-control"></select>
                
                <div class="editor-field">
                </div>
                    <div id="table_schedule_group" class="editor-field">
                        <table id="schedule_comission">

                            <thead>
                                <tr>
                                    <th>Dia</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    <th>Aula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="trRow1" data-day="Lunes" data-starthour="07:30 am" data-endhour="08:20 am">
                                    <td>
                                        <select id="tdRow1Day" onchange="onchangeDaySelection(1)">
                                            <option>Lunes</option>
                                            <option>Martes</option>
                                            <option>Miercoles</option>
                                            <option>Jueves</option>
                                            <option>Viernes</option>
                                            <option>Sabado</option>
                                        </select>

                                    </td>
                                    <td>
                                        <div id="campo_inicio">

                                            <select id="tdRow1StartHour" onchange="onchangeStartHourSelection(1)">
                                                <option>07:30 am</option>
                                                <option>08:30 am</option>
                                                <option>09:30 am</option>
                                                <option>10:30 am</option>
                                                <option>11:30 am</option>
                                                <option>12:30 pm</option>
                                                <option>01:00 pm</option>
                                                <option>02:00 pm</option>
                                                <option>03:00 pm</option>
                                                <option>04:00 pm</option>
                                                <option>05:00 pm</option>
                                                <option>06:00 pm</option>
                                                <option>07:00 pm</option>
                                                <option>08:00 pm</option>
                                                <option>09:00 pm</option>
                                            </select>

                                        </div>
                                    </td>
                                    <td>
                                        <select id="tdRow1EndHour" onchange="onchangeEndHourSelection(1)">
                                            <option>08:20 am</option>
                                            <option>09:20 am</option>
                                            <option>10:20 am</option>
                                            <option>11:20 am</option>
                                            <option>12:20 pm</option>
                                            <option>01:50 pm</option>
                                            <option>02:30 pm</option>
                                            <option>03:50 pm</option>
                                            <option>04:50 pm</option>
                                            <option>05:50 pm</option>
                                            <option>06:50 pm</option>
                                            <option>07:50 pm</option>
                                            <option>08:50 pm</option>
                                            <option>09:50 pm</option>
                                        </select>
                                    </td>

                                    <td>
                                        <select id="tdRow1Classroom" onchange="onchangeClassroomSelection(1)">
                                            @if (ViewBag.Aulas != null)
                                            {
                                                foreach (var item in ViewBag.Aulas)
                                                {
                                                    <option value="@item.ID">@item.Code</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                <div class="editor-field">
                </div>

                <br />

            
                <input type="submit" onclick="ActualizarContadores()" value="GuardarCambios" class="btn btn-lg btn-primary btn-block" />
            }
                
        </div>
    </div>

    <!--
    <div class="col-lg-8">
        <div class="span12">
            <table class="mitabla" id="Resultado">
                <tr>
                    <td class="Horas" id="vacio">Hora</td>
                    <td class="encabezado" id="Lunes">Lunes</td>
                    <td class="encabezado" id="Martes">Martes</td>
                    <td class="encabezado" id="Miercoles">Miércoles</td>
                    <td class="encabezado" id="Jueves">Jueves</td>
                    <td class="encabezado" id="Viernes">Viernes</td>
                    <td class="encabezado" id="Sabado">Sábado</td>
                    <td class="encabezado" id="Domingo">Domingo</td>
                    <td class="Guia" id="Guia"></td>
                </tr>
                @for (int hr = 7; hr < 22; hr++)
                {
                    for (int min = 0; min < 6; min = min + 1)
                    {
                        String Hora = "";


                        if (hr >= 7 & hr <= 12)
                        {
                            switch (min)
                            {
                                case 0: Hora = hr.ToString() + "30"; break;
                                case 1: Hora = hr.ToString() + "40"; break;
                                case 2: Hora = hr.ToString() + "50"; if (hr == 12) { min = 5; } break;
                                case 3: Hora = (hr + 1).ToString() + "00"; break;
                                case 4: Hora = (hr + 1).ToString() + "10"; break;
                                case 5: Hora = (hr + 1).ToString() + "20"; break;
                            }
                        }

                        else
                        {
                            switch (min)
                            {
                                case 0: Hora = hr.ToString() + "00"; break;
                                case 1: Hora = hr.ToString() + "10"; break;
                                case 2: Hora = hr.ToString() + "20"; break;
                                case 3: Hora = hr.ToString() + "30"; break;
                                case 4: Hora = hr.ToString() + "40"; break;
                                case 5: Hora = hr.ToString() + "50"; break;
                            }
                        }


                        String Lateral = "";
                        switch (hr)
                        {
                            case 7: Lateral = "7:30-8:20"; break;
                            case 8: Lateral = "8:30-9:20 "; break;
                            case 9: Lateral = "9:30-10:20"; break;
                            case 10: Lateral = "10:30-11:20"; break;
                            case 11: Lateral = "11:30-12:20"; break;
                            case 12: Lateral = "12:30-13:00"; break;
                            case 13: Lateral = "13:00-13:50"; break;
                            case 14: Lateral = "14:00-14:50"; break;
                            case 15: Lateral = "15:00-15:50"; break;
                            case 16: Lateral = "16:00-16:50"; break;
                            case 17: Lateral = "17:00-17:50"; break;
                            case 18: Lateral = "18:00-18:50"; break;
                            case 19: Lateral = "19:00-19:50"; break;
                            case 20: Lateral = "20:00-20:50"; break;
                            case 21: Lateral = "21:00-21:50"; break;
                        }


                        <tr>
                            @if (min == 0)
                            {
                                if (hr == 12)
                                {
                                <td class="Horas" id="@Hora" rowspan="3"> @Lateral</td>}
                                else
                                {
                                <td class="Horas" id="@Hora" rowspan="6"> @Lateral</td>}
                            }
                            @if (hr == 12)
                            {
                                <td id="Lunes @Hora" style="background-color:lightgrey"></td>
                                <td id="Martes @Hora" style="background-color:lightgrey"></td>
                                <td id="Miercoles @Hora" style="background-color:lightgrey"></td>
                                <td id="Jueves @Hora" style="background-color:lightgrey"></td>
                                <td id="Viernes @Hora" style="background-color:lightgrey"></td>
                                <td id="Sabado @Hora" style="background-color:lightgrey"></td>
                                <td id="Domingo @Hora" style="background-color:lightgrey"></td>
                                <td class="Guia" id="Guia @Hora"></td>

                            }
                            else
                            {
                                <td id="Lunes @Hora"></td>
                                <td id="Martes @Hora"></td>
                                <td id="Miercoles @Hora"></td>
                                <td id="Jueves @Hora"></td>
                                <td id="Viernes @Hora"></td>
                                <td id="Sabado @Hora"></td>
                                <td id="Domingo @Hora"></td>
                                <td class="Guia" id="Guia @Hora"></td>
                            }
                        </tr>

                    }
                }
            </table>
        </div>
    </div>
        -->
</body>