@model SACAAE.Models.ComisionXProfesor
@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/Privado.cshtml";
}
<style type="text/css">
    .ComboCursosSeleccionados {
        width: 25%;
    }


    .alineacion-div > div {
        display: inline-block;
        width: 30%;
        margin: 0;
    }
</style>
@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/GuardarDias.js")"></script>
}
<body onload="Load()">
    <h2 class="page-header">Asignar Profesor a Comisión</h2>
    <div class="col-lg-4">
        <div class="span12">
            @if (TempData.ContainsKey("Message"))
            {
                <p class="text-success">@TempData["Message"].ToString()</p>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="editor-label">
                    @Html.Label("Profesores")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Profesores", null, "-- Seleccione Profesor --", htmlAttributes: new { @class = "form-control" })
                    @if (ViewBag.Profesores == null)
                    {

                        @Html.ActionLink("Crear Profesor", "Crear", "Profesor")
                    }
                </div>
                <br />
                <div class="editor-label">
                    @Html.Label("Comisiones")
                </div>
                <div class="editor-field" style="display:inline">
                    @Html.DropDownList("comisiones", null, "-- Seleccione Comisión --", htmlAttributes: new { @class = "form-control" })
                    @if (ViewBag.Profesores == null)
                    {

                        @Html.ActionLink("Crear Comisión", "Crear", "Comision")
                    }
                </div>

                <br />
                <!--<div class="editor-label">
                    Html.Label("Día")
                </div>
                <div class="editor-field">
                    <select id="sltDia" class="form-control" name="dia">
                        <option>Lunes</option>
                        <option>Martes</option>
                        <option>Mi&eacute;rcoles</option>
                        <option>Jueves</option>
                        <option>Viernes</option>
                        <option>Sábado</option>
                    </select>
                </div>-->

                <div class="editor-field">
                </div>

                <div class="alineacion-div">
                    <div class="editor-label">   @Html.Label("Día") </div>
                    <div class="editor-label">   @Html.Label("Inicio") </div>
                    <div class="editor-label">   @Html.Label("Fin") </div>
                </div>


                <div class="alineacion-div">
                    <div> <input type="checkbox" id="LunesID" name="LunesOption" value="Lunes"> Lunes<br> </div>
                    <div> @Html.DropDownList("ComboHoraInicioLunes", new SelectList(ViewBag.HorasInicio), new { @id = "ComboHoraInicioLunes" }) </div>
                    <div> @Html.DropDownList("ComboHoraFinLunes", new SelectList(ViewBag.HorasFin), new { @id = "ComboHoraFinLunes" }) </div>
                </div>

                <div class="editor-field">
                </div>

                <div class="alineacion-div">
                    <div> <input type="checkbox" id="MartesID" name="MartesOption" value="Martes"> Martes<br> </div>
                    <div> @Html.DropDownList("ComboHoraInicioMartes", new SelectList(ViewBag.HorasInicio), new { @id = "ComboHoraInicioMartes" }) </div>
                    <div> @Html.DropDownList("ComboHoraFinMartes", new SelectList(ViewBag.HorasFin), new { @id = "ComboHoraFinMartes" }) </div>
                </div>

                <div class="editor-field">
                </div>

                <div class="alineacion-div">
                    <div> <input type="checkbox" id="MiercolesID" name="MiercolesOption" value="Miercoles"> Miércoles<br> </div>
                    <div> @Html.DropDownList("ComboHoraInicioMiercoles", new SelectList(ViewBag.HorasInicio), new { @id = "ComboHoraInicioMiercoles" }) </div>
                    <div> @Html.DropDownList("ComboHoraFinMiercoles", new SelectList(ViewBag.HorasFin), new { @id = "ComboHoraFinMiercoles" }) </div>
                </div>

                <div class="editor-field">
                </div>

                <div class="alineacion-div">
                    <div> <input type="checkbox" id="JuevesID" name="JuevesOption" value="Jueves"> Jueves<br> </div>
                    <div> @Html.DropDownList("ComboHoraInicioJueves", new SelectList(ViewBag.HorasInicio), new { @id = "ComboHoraInicioJueves" }) </div>
                    <div> @Html.DropDownList("ComboHoraFinJueves", new SelectList(ViewBag.HorasFin), new { @id = "ComboHoraFinJueves" }) </div>
                </div>

                <div class="editor-field">
                </div>

                <div class="alineacion-div">
                    <div> <input type="checkbox" id="ViernesID" name="ViernesOption" value="Viernes"> Viernes<br> </div>
                    <div> @Html.DropDownList("ComboHoraInicioViernes", new SelectList(ViewBag.HorasInicio), new { @id = "ComboHoraInicioViernes" }) </div>
                    <div> @Html.DropDownList("ComboHoraFinViernes", new SelectList(ViewBag.HorasFin), new { @id = "ComboHoraFinViernes" }) </div>
                </div>

                <div class="editor-field">
                </div>

                <div class="alineacion-div">
                    <div> <input type="checkbox" id="SabadoID" name="SabadoOption" value="Sabado"> Sábado<br> </div>
                    <div> @Html.DropDownList("ComboHoraInicioSabado", new SelectList(ViewBag.HorasInicio), new { @id = "ComboHoraInicioSabado" }) </div>
                    <div> @Html.DropDownList("ComboHoraFinSabado", new SelectList(ViewBag.HorasFin), new { @id = "ComboHoraFinSabado" }) </div>
                </div>
                <br />
                <br />

                <!--<br />
                <div class="editor-label">
                    Html.Label("Hora Inicio")
                </div>
                <div class="editor-field">
                   Html.TextBox("HoraInicio", null, new { type="number", class = "form-control", required = "true", placeholder = "12:00" })
                    Html.ValidationMessageFor(model => model.Horario1.Dias.ElementAt(0).Hora_Inicio)
                </div>
                <br />
                <div class="editor-label">
                    Html.Label("Hora Fin")
                </div>
                <div class="editor-field">
                   Html.TextBox("HoraFin", null, new { type="number",class = "form-control", required = "true", placeholder = "12:00" })

                </div>
                <br />-->
                <p>
                    <input type="submit" onclick="ActualizarContadores()" value="Asignar" class="btn" />
                    <!--if (ViewBag.Profesores == null || ViewBag.Comisiones == null)
                    {
                        <input type="submit" value="Asignar" class="btn"  />
                    }
                    else
                    {
                        <input type="submit" value="Asignar" class="btn" disabled="disabled"/>
                    }
                    |
                    if(ViewBag.returnUrl != null)
                    {
                        <a href="ViewBag.returnUrl">Cancelar</a>
                    }
                    else
                    {
                        Html.ActionLink("Cancelar", "Index", "Proyecto");
                    }-->

                </p>
            }
        </div>
    </div>
</body>