@model SACAAE.Models.ViewModels.ScheduleComissionViewModel
@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/Privado.cshtml";
}
<style type="text/css">
    
</style>
<link href="~/Content/custom.css" rel="stylesheet" />
@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/GuardarDias.js")"></script>
    <script src="@Url.Content("~/Scripts/SiteScripts/ComissionProfessor.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
       

            $("#buttonPost").on("click", function () {
                var listName = "ScheduleCommission";

                var qtd = 0;
                $("#schedule_comission > tbody > tr").each(function () {
                    var day = $(this).data("day");
                    var starthour = $(this).data("starthour");
                    var endhour = $(this).data("endhour");
                    $("#formPost").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].Day' value='" + day + "'>");
                    $("#formPost").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].StartHour' value='" + starthour + "'>");
                    $("#formPost").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].EndHour' value='" + endhour + "'>");
                    qtd += 1;
                });
            });
        });
    </script>

}
<body onload="Load()">
    <h2 class="page-header">Asignar Profesor a Comisión</h2>
    <div class="col-lg-4">
        <div class="span12">
            @if (TempData.ContainsKey("Message"))
            {
                <p class="text-success">@TempData["Message"].ToString()</p>
            }
            @using (Html.BeginForm("Asignar", "ComisionProfesor", FormMethod.Post, new { @id = "formPost" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="editor-label">
                    @Html.Label("Profesores")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Professors", null, "-- Seleccione Profesor --", htmlAttributes: new { @class = "form-control" })
                </div>
                <br />
                <div class="editor-label">
                    @Html.Label("Comisiones")
                </div>
                <div class="editor-field" style="display:inline">
                    @Html.DropDownList("Commissions", null, "-- Seleccione Comisión --", htmlAttributes: new { @class = "form-control" })
                </div>
                <br />
                <div>
                    @Html.Label("Hora Reconocimiento")
                </div>
                <div class="editor-field">
                    <select id="HourCharge" name="HourCharge" class="form-control">

                        <option selected="selected" value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <br />
             
                <table id="schedule_comission">
				
				<thead>
					<tr>
						<th>Dia</th>
						<th>Inicio</th>
						<th>Fin</th>
					</tr>
				</thead>
				<tbody>
                    <tr id="trRow1" data-day="Lunes" data-starthour="7:20 AM" data-endhour="8:30 PM">
                        <td>
                            <div id="campo_dia">

                                <select id="tdRow1Day">
                                    <option><a href="#">Lunes</a></option>
                                    <option><a href="#">Martes</a></option>
                                    <option><a href="#">Miercoles</a></option>
                                    <option><a href="#">Jueves</a></option>
                                    <option><a href="#">Viernes</a></option>
                                    <option><a href="#">Sabado</a></option>
                                </select>

                            </div>
                        </td>
                        <td>
                            <div id="campo_inicio">

                                <select id="tdRow1StartHour">
                                    <option><a href="#">7:30 am</a></option>
                                    <option><a href="#">8:30 am</a></option>
                                    <option><a href="#">9:30 am</a></option>
                                    <option><a href="#">10:30 am</a></option>
                                    <option><a href="#">11:30 am</a></option>
                                    <option><a href="#">12:30 pm</a></option>
                                    <option><a href="#">1:00 pm</a></option>
                                    <option><a href="#">2:00 pm</a></option>
                                    <option><a href="#">3:00 pm</a></option>
                                    <option><a href="#">4:00 pm</a></option>
                                    <option><a href="#">5:00 pm</a></option>
                                    <option><a href="#">6:00 pm</a></option>
                                    <option><a href="#">7:00 pm</a></option>
                                    <option><a href="#">8:00 pm</a></option>
                                    <option><a href="#">9:00 pm</a></option>
                                </select>

                            </div>
                        </td>
                        <td>
                            <select id="tdRow1EndHour">
                                <option><a href="#">8:20 am</a></option>
                                <option><a href="#">9:20 am</a></option>
                                <option><a href="#">10:20 am</a></option>
                                <option><a href="#">11:20 am</a></option>
                                <option><a href="#">12:20 pm</a></option>
                                <option><a href="#">1:50 pm</a></option>
                                <option><a href="#">2:30 pm</a></option>
                                <option><a href="#">3:50 pm</a></option>
                                <option><a href="#">4:50 pm</a></option>
                                <option><a href="#">5:50 pm</a></option>
                                <option><a href="#">6:50 pm</a></option>
                                <option><a href="#">7:50 pm</a></option>
                                <option><a href="#">8:50 pm</a></option>
                                <option><a href="#">9:50 pm</a></option>
                            </select>
                        </td>
                    </tr>
				</tbody>
			</table>

			 <p>
        		<a id="assign_comission" onclick="obtener_dias()" href="#"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Asignar Horario</a>
    		</p>

                <p>
                    <input id="buttonPost" type="submit" onclick="ActualizarContadores()" value="Asignar" class="btn" />
                 

                </p>
            }
        </div>
    </div>
</body>