@{
    ViewBag.Title = "Revocar Profesor de Comisión";
    Layout = "~/Views/Shared/Privado.cshtml";
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/RevocarComisionProfesor.js")"></script>
    <script type="text/javascript">
        var tempIndex = 0;
    </script>



}

<h2 class="page-header">Revocar Profesor de Comisión</h2>
<div class="row-fluid">
    <div class="col-lg-5">
        <div class="span12">
            @if (TempData.ContainsKey("MessageError"))
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["MessageError"].ToString()
                </div>
            }
            @if (TempData.ContainsKey("MessageSuccess"))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["MessageSuccess"].ToString()
                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="editor-label">
                    @Html.Label("Profesores")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Profesores", null, "-- Seleccione Profesor --", htmlAttributes: new { @class = "form-control" })
                    @if (ViewBag.Profesores == null)
                    {

                        @Html.ActionLink("Crear Profesor", "Crear", "Profesor")
                    }
                </div>
                <br />

                <div class="editor-label">
                    @Html.Label("Comisiones")
                </div>
                <div class="editor-field">
                    <select id="sltComisiones" name="sltComisiones" class="form-control"></select>
                </div>
                <br />

                <p>
                    <a  onclick=init_delete() data-toggle="modal" data-target="#deleteModal" title="Eliminar">Revocar</a>
                    |
                    @if (ViewBag.returnUrl != null)
                    {
                        <a href="@ViewBag.returnUrl">Cancelar</a>
                    }
                    else
                    {
                        @Html.ActionLink("Cancelar", "Index", "Proyecto");
                    }
                </p>
            }
        </div>
    </div>
</div>

<!-- Delete professor -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Remover Profesor</h4>
            </div>
            <div class="modal-body">
                <h2>¿Esta seguro que desea remover al profesor la comision?</h2>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="deleteBtn" onclick="eliminar_asignacion_comision()">Eliminar</button>
            </div>
        </div>
    </div>
</div>