@model SACAAE.Models.Course
@{
    ViewBag.Title = "Asignar Profesor a Curso";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/SiteScripts/table.js")"></script>
    <script src="@Url.Content("~/Scripts/SiteScripts/assignProfesorCourse.js")"></script>

<script>
    window.onload = function () {
        $("#Grupo").val(parseInt(get_id(3)));
        $("#txtHoras").val("");
        var route = "/CursoProfesor/Cursos/" + get_id(3) + "/Sedes/";
        $.getJSON(route, function (data) {
            var items = "";

            $.each(data, function (i, sede) {
                items += "<option value='" + sede.ID + "'>" + sede.Name + "</option>";
            });


            if (items != "") {
                $("#Sedes").html(items);
                $("#Sedes").prepend("<option value='' selected='selected'>-- Seleccionar Sede --</option>");

            }
            else {
                $("#Sedes").html("<option>No hay sedes relacionadas al grupo.</option>")

            }
        });

       
    };

    


</script>

}

<head>
    @Styles.Render("~/Content/custom")
</head>
            
@using (Html.BeginForm())
{
    <div class="header">
        @if (TempData.ContainsKey("MessageError"))
        {
            <p class="text-danger">@TempData["MessageError"].ToString()</p>
        }
        <h2 >Asignar Profesor a Curso</h2>
        <hr />
    
    </div>
    
    <div id="columna_1">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">

            @Html.Label("Curso")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)

        </div>

        <br />

        <div class="editor-label">
            @Html.Label("Profesor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Profesores", null, "-- Seleccione Profesor si existe --", htmlAttributes: new { @class = "form-control" })
            @if (ViewBag.Profesores == null)
            {

                @Html.ActionLink("Crear Profesor", "Crear", "Profesor")
            }
        </div>

        <br />


        <div class="editor-label">
            @Html.Label("Sede")
        </div>
        <div class="editor-field">
            <select id="Sedes" name="Sedes" class="form-control"></select>
        </div>

        <br />

        <div class="editor-label">
            @Html.Label("Modalidad")
        </div>
        <div class="editor-field">
            <select id="Modalidades" name="Modalidades" class="form-control"></select>

        </div>
                   

        <br />

        <div class="editor-label">
            @Html.Label("Plan de Estudio")
        </div>
        <div class="editor-field">
            <select id="Planes" name="Planes" class="form-control"></select>
        </div>

        <br />


        <div class="editor-label">
            @Html.Label("Bloque")
        </div>
        <div class="editor-field">
            <select id="Bloques" name="Bloques" class="form-control"></select>
        </div>
                   
    </div>

    <div id="columna_2">
        <div class="editor-label">
            @Html.Label("Grupos sin profesor asignado")
        </div>
        <div class="editor-field">
            <select id="Grupos_Disponibles" name="Grupos_Disponibles" class="form-control"></select>
        </div>

        <br />


        <div class="editor-label">

            @Html.Label("Horario")
        </div>
        <div id="table_schedule_group" class="editor-field">
            <table>
                <thead>
                <th class="table_custom">Dia</th>
                <th class="table_custom">Hora Inicio</th>
                <th class="table_custom">Hora Fin</th>
                <th class="table_custom">Aula</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table_custom"></td>
                        <td class="table_custom"></td>
                        <td class="table_custom"></td>
                        <td class="table_custom"></td>
                    </tr>
                    <tr>
                        <td class="table_custom"></td>
                        <td class="table_custom"></td>
                        <td class="table_custom"></td>
                        <td class="table_custom"></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="editor-label">
            @Html.Label("Horas del Curso")
        </div>
        <div class="editor-field">

            <input type="text" name="txtHoras" id="txtHoras" disabled="disabled" class="form-control">
        </div>

        <br />

        <div class="editor-label">
            @Html.Label("Horas Estimadas")
        </div>
        <div class="editor-field">
            <input type="text" name="txtHorasEstimadas" id="txtHorasEstimadas" disabled="disabled" class="form-control">
        </div>
        <br />
        <div class="editor-label">
            @Html.Label("Horas Recargo")
        </div>
        <div class="editor-field">
            <select id="HourCharge" name="HourCharge" class="form-control">

                <option selected="selected" value="1">Si</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>

    <br /> <br /><br /> <br />
    <div id="columna_inferior">
        <p>
            <input id="idCurso" type="hidden" name="Grupo">
            <input type="submit" value="Asignar" class="btn" id="Asignar" />
            |
            @if (ViewBag.returnUrl != null)
            {
                <a href="@ViewBag.returnUrl">Cancelar</a>
            }
            else
            {
                @Html.ActionLink("Cancelar", "Index", "Proyecto");
            }
        </p>
    </div>
}
          

  