@model SACAAE.Models.Course

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div class="col-lg-4">
    <h2 class="page-header">Agregar Curso</h2>
    @if (TempData.ContainsKey("MessageError"))
    { 
        <p class="text-danger">@TempData["MessageError"].ToString()</p>
    }
    @if (TempData.ContainsKey("MessageSuccess"))
    { 
        <p class="text-success">@TempData["MessageSuccess"].ToString()</p>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);
        
        <div id="ventanaAgregar">

            <div class="editor-label">
                <label> Nombre </label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new
               {
                   @class = "form-control",
                   @placeholder = "Nombre del Curso",
                   @required = "true"
               })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <br/>
            <div class="editor-label">
                <label> Código </label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Code, new
               {
                   @class = "form-control",
                   @placeholder = "Código del Curso",
                   @required = "true"
               })
                @Html.ValidationMessageFor(model => model.Code)

            </div>
            <br />

            <div class="editor-label">
                <label> Horas Prácticas </label>
            </div>
            <div class="editor-field">
                <input name="HorasPracticas" class="form-control" id="HorasPracticas" type="number" min="0" value="0" />
                @Html.ValidationMessageFor(model => model.PracticeHours)
            </div>
            <br />

            <div class="editor-label">
                <label> Horas Teóricas </label>
            </div>
            <div class="editor-field">
                <input name="HorasTeoricas" class="form-control" id="HorasTeoricas" type="number" min="0" value="0" />
                @Html.ValidationMessageFor(model => model.TheoreticalHours)
            </div>
            <br />


            <div class="editor-label">
                <label> Creditos </label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Credits, new
               {
                   @class = "form-control",
                   @placeholder = "Creditos del Curso",
                   @required = "true"
               })
                @Html.ValidationMessageFor(model => model.Credits)

            </div>
            <br />
            <div class="editor-label">
                <label> Bloque</label>
            </div>
            <div class="editor-field">
                <input name="Bloque" class="form-control" id="Bloque" type="number" min="1" max="12" value="1" />
            </div>
            <br />
            <div class="editor-label">
                <label> Curso externo </label>
                @Html.CheckBoxFor(model => model.External)
            </div>
            <br />
            <p>
                <input type="submit" value="Agregar Curso" class="btn" /> | @Html.ActionLink("Regresar", "Index", "Courses")
            </p>



        </div>
    }
</div>