@model SACAAE.Models.Course

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div class="col-lg-4">
    <h2 class="page-header">Borrar Informaci&oacute;n de Curso</h2>

    <div class="span12">
        <h4><span class="label label-warning">¿Est&aacute; seguro de que desea eliminar la informaci&oacute;n de este curso?</span></h4>
        <br />
        <h4>
            <span class="label label-info">
                @Html.Label("Nombre")
                @Html.DisplayFor(model => model.Name)
            </span>
        </h4>
        <h4>
            <span class="label label-info">
                @Html.Label("Codigo")
                @Html.DisplayFor(model => model.Code)
            </span>
        </h4>
        <h4>
            <span class="label label-info">
                @Html.Label("Bloque")
                @Html.DisplayFor(model => model.Block)
            </span>
        </h4>
        <h4>
            <span class="label label-info">
                @Html.Label("Externo")
                @Html.DisplayFor(model => model.External)
            </span>
        </h4>
        <br />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
        <
    </div>
</div>
