@model SACAAE.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Privado.cshtml";
}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/SiteScripts/table.js")"></script>
    <script src="@Url.Content("~/Scripts/SiteScripts/assignProfesorCourse.js")"></script>
}
<script type="text/javascript">
    var tempIndex = 0;
    window.onload = function () {
        //the function get_id(number) is in the JS file assignProfesorCourse.js
        var route = "/CursoProfesor/Cursos/" + get_id(3);
        //the function generate_table(route) is in the JS file table.js
        generate_table(route);

    };
</script>

<head>
    @Styles.Render("~/Content/custom")
</head>

@using (Html.BeginForm("Details", "Detalle", FormMethod.Post, new { id = "detailsForm" }))
{
    <div class="header">
        @if (TempData.ContainsKey("MessageSuccess"))
        {
            <p class="text-success">@TempData["MessageSuccess"].ToString()</p>
        }
        <h2>Detalle del Curso</h2>
        <hr />
    </div>


    <div class="detalles">


        <div class="detalle_1">
            <table id="tbl_detalle_1">

                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>

                    <tr>
                        <th>Codigo</th>
                        <td>@Html.DisplayFor(model => model.Code)</td>
                    </tr>
                    <tr>
                        <th>Horas Teoricas</th>
                        <td>@Html.DisplayFor(model => model.TheoreticalHours) </td>
                    </tr>
                    <tr>
                        <th>Bloque</th>
                        <td>@Html.DisplayFor(model => model.Block) </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="detalle_2">
            <table id="tbl_detalle_2">
                <tbody>
                    <tr>
                        <th>Horas Practicas</th>
                        <td>@Html.DisplayFor(model => model.PracticeHours)</td>
                    </tr>
                    <tr>
                        <th>Creditos</th>
                        <td>@Html.DisplayFor(model => model.Credits)</td>
                    </tr>
                    <tr>
                        <th>Externo</th>
                        <td>@Html.DisplayFor(model => model.External) </td>
                    </tr>
                    <tr>
                        <th><br /> </th>
                        <td><br /> </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <h3>Grupos</h3>
    <p>
        <a href="@Url.Action("AsignarProfesoraCurso", new { id = Model.ID })"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Asignar Profesor</a>
    </p>
    <div id="table_information_group">




    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Atras", "Index")
    </p>


    <!-- Delete professor -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remover Profesor</h4>
                </div>
                <div class="modal-body">
                    <h2>¿Esta seguro que desea remover al profesor del grupo?</h2>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn" onclick="eliminar_asignacion_grupo()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
}