@model SACAAE.Models.Group

@{
    ViewBag.Title = "Detalle Asignacion";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<script src="@Url.Content("~/Scripts/SiteScripts/table.js")"></script>
<script src="@Url.Content("~/Scripts/SiteScripts/assignProfesorCourse.js")"></script>
<script type="text/javascript">
   
   window.onload = function()
        {
            var idGrupo = get_id(3);
            var idCurso = "";
            var idSede = "";
            var idModalidad = "";
            var idPlan = "";
            route = "/Cursos/Group/" + get_id(3);
            $.getJSON(route,function(data)
            {
                $.each(data, function (i, grupo) {
                    idCurso = data[i].curso_id;
                    idSede = data[i].sede_id;
                    idModalidad = data[i].modalidad_id;
                    idPlan = data[i].plan_id;
                    document.getElementById('nombreCurso').innerHTML = "<p>" + data[i].curso_name + "</p>";
                    document.getElementById('numeroGrupo').innerHTML = "<p>" + data[i].Number + "</p>";
                    document.getElementById('nombreProfesor').innerHTML = "<p>" + data[i].profesor_name + "</p>";
                    document.getElementById('sede').innerHTML = "<p>" + data[i].sede_name + "</p>";
                    document.getElementById('modalidad').innerHTML = "<p>" + data[i].modalidad_name + "</p>";
                    document.getElementById('plan').innerHTML = "<p>" + data[i].plan_name + "</p>";
                    document.getElementById('bloque').innerHTML = "<p>" + data[i].descripcion_bloque + "</p>";

                    document.getElementById('horasTeoricas').innerHTML = "<p>" + data[i].TheoreticalHours + "</p>"

                    var vEstimateHour = 0;
                    if (data[i].asignacion_id == 1) {
                        document.getElementById('tipoHoras').innerHTML = "<p>Si</p>";
                        document.getElementById('horasEstimadas').innerHTML = "<p>" + vEstimateHour + "</p>"
                    }
                    else
                    {
                        vEstimateHour = 10 - data[i].TheoreticalHours
                        document.getElementById('tipoHoras').innerHTML = "<p>No</p>";
                        document.getElementById('horasEstimadas').innerHTML = "<p>" + vEstimateHour + "</p>"
                    }
                });
                route2 = "/CursoProfesor/Cursos/" + idCurso + "/Sedes/" + idSede + "/Modalidades/" + idModalidad + "/Planes/" + idPlan + "/Grupos/" + idGrupo + "/Horario/";
                generate_table_schedule_group(route2);
            })       
   };
       
</script>
<head>
    @Styles.Render("~/Content/custom")
</head>
<div class="header">
   
    
    <h2>Detalle del Grupo</h2>
    <hr />
</div>

    <input id="idProfesor" type="hidden" value="@Html.DisplayFor(model => model.ID)">
    <div id="columna_1">
        @Html.Label("Curso")
        <div id="nombreCurso"></div>

        @Html.Label("Numero de Grupo")
        <div id="numeroGrupo"></div>

        @Html.Label("Profesor")
        <div id="nombreProfesor"></div>

        @Html.Label("Sede")
        <div id="sede"></div>

        @Html.Label("Modalidad")
        <div id="modalidad"></div>

        @Html.Label("Plan de Estudio")
        <div id="plan"></div>

        @Html.Label("Bloque")
        <div id="bloque"></div>
    </div>
    
    <div id="columna_2">
        @Html.Label("Horario")
        <div id="table_schedule_group" class="editor-field"></div>
        <br/>
        @Html.Label("Horas Recargo")
        <div id="tipoHoras"></div>

        @Html.Label("Horas Teoricas")
        <div id="horasTeoricas"></div>

        @Html.Label("Horas Estimadas")
        @Html.DisplayFor(model => model.EstimatedHour, new { htmlAttributes = new { id = "horasEstimadas" } })

    </div>   
    
    <div id="columna_inferior">
        <p>
            @Html.ActionLink("Editar", "EditarAsignacion", new { id = Model.ID }) |
            <a href="@ViewBag.returnUrl">Atras</a>
        </p>
    </div>

