@model SACAAE.Models.Group

@{
    ViewBag.Title = "Editar Asignacion";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/SiteScripts/table.js")"></script>
    <script src="@Url.Content("~/Scripts/SiteScripts/assignProfesorCourse.js")"></script>
    <script type="text/javascript">
        var TheoricalHour = "";
        window.onload = function () {
           
            var idGrupo = get_id(3);
            var idCurso = "";
            var idSede = "";
            var idModalidad = "";
            var idPlan = "";
           
            route = "/Cursos/Group/" + idGrupo;
            $.getJSON(route, function (data) {
                $.each(data, function (i, grupo) {
                    idCurso = data[i].curso_id;
                    idSede = data[i].sede_id;
                    idModalidad = data[i].modalidad_id;
                    idPlan = data[i].plan_id;
                    document.getElementById('nombreCurso').innerHTML = "<p>" + data[i].curso_name + "</p>";
                    document.getElementById('numeroGrupo').innerHTML = "<p>" + data[i].Number + "</p>";
                    document.getElementById('sede').innerHTML = "<p>" + data[i].sede_name + "</p>";
                    document.getElementById('modalidad').innerHTML = "<p>" + data[i].modalidad_name + "</p>";
                    document.getElementById('plan').innerHTML = "<p>" + data[i].plan_name + "</p>";
                    document.getElementById('bloque').innerHTML = "<p>" + data[i].descripcion_bloque + "</p>";
                    TheoricalHour = data[i].TheoreticalHours;
                    document.getElementById('horasTeoricas').innerHTML = "<p>" + data[i].TheoreticalHours + "</p>"

                    var vEstimateHour = 0;
                    if (data[i].asignacion_id == 1) {
                        document.getElementById('editHourCharge').selectedIndex = 0;
                        document.getElementById('divHorasEstimadas').innerHTML = "<p>" + vEstimateHour + "</p>"
                    }
                    else {
                        vEstimateHour = 11 - data[i].TheoreticalHours
                        document.getElementById('editHourCharge').selectedIndex = 1;
                        document.getElementById('divHorasEstimadas').innerHTML = "<p>" + vEstimateHour + "</p>"
                    }


                });
                route2 = "/CursoProfesor/Cursos/" + idCurso + "/Sedes/" + idSede + "/Modalidades/" + idModalidad + "/Planes/" + idPlan + "/Grupos/" + idGrupo + "/Horario"
                generate_table_schedule_group(route2);
            })

        };
</script>
    }


<head>
    @Styles.Render("~/Content/custom")
</head>
@if (TempData.ContainsKey("Message"))
{
    String message = TempData["Message"].ToString();

    if (message.Equals("Profesor asignado correctamente."))
    {
        <p class="text-success">@message</p>
    }
    else
    {
        <p class="text-danger">@message</p>
    }
}
@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
    <div class="header">

        @if (TempData.ContainsKey("MessageError"))
        {
            <p class="text-danger">@TempData["MessageError"].ToString()</p>
        }
        
        <h2>Editar Asignacion</h2>
        <hr />
    </div>
    @Html.HiddenFor(model => model.ID)
     
    <div id="columna_1">
        @Html.Label("Profesor")
        <div class="editor-field">
            @Html.DropDownList("Profesores", null, htmlAttributes: new { @class = "form-control" })
        </div>
    
        @Html.Label("Curso")
        <div id="nombreCurso"></div>

        @Html.Label("Numero de Grupo")
        <div id="numeroGrupo"></div>

    



        @Html.Label("Sede")
        <div id="sede"></div>

        @Html.Label("Modalidad")
        <div id="modalidad"></div>

        @Html.Label("Plan de Estudio")
        <div id="plan"></div>

        @Html.Label("Bloque")
        <div id="bloque"></div>
    </div>
    <div id="columna_2">
        @Html.Label("Horario")
        <div id="table_schedule_group" class="editor-field">

        </div>
        <br />
        @Html.Label("Horas Recargo")
        
        <div class="editor-field">
            <select onchange="changeHourCharge()" id="editHourCharge" name="editHourCharge" class="form-control ">

                <option selected="selected" value="1">Si</option>
                <option value="0">No</option>
            </select>
        </div>
        @Html.Label("Horas Teoricas")
        <div id="horasTeoricas"></div>

        @Html.Label("Horas Estimadas")
        <div id="divHorasEstimadas"></div>
    
    </div>
    <div id="columna_inferior">
            <input type="submit" value="Editar" class="btn" id="Editar_Asignacion" /> |
             <a href="@ViewBag.returnUrl">Cancelar</a>
    </div>
}

