@model SACAAE.Models.ViewModels.ListLoadViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        function SetAllCheckBoxes(obj) {
            var c = new Array();
            c = document.getElementsByTagName('input');
            for (var i = 0; i < c.length; i++) {
                if (c[i].id == 'select') {
                    c[i].checked = obj.checked;
                }
            }
        }
    </script>
}
<head>
    <link rel="stylesheet" href="../Content/themes/blue/style.css" type="text/css" media="print, projection, screen">
</head>

<body>
        <h1 class="page-header">Enviar Carga Académica a Profesor</h1>
        @if (TempData.ContainsKey("MessageError"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["MessageError"].ToString()
            </div>
        }
        @if (TempData.ContainsKey("MessageSuccess"))
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["MessageSuccess"].ToString()
            </div>
        }
    
        
        @using (Html.BeginForm())
        { 
        @Html.AntiForgeryToken()
        <div class="dataTables_wrapper">
            <table id="indexTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.CheckBox("checkboxId",true,
                                  new Dictionary<string, object>{
                                     {"id", "checkboxId"},
                                     {"onclick","SetAllCheckBoxes(this)"},
                                     {"data-role", "flipswitch"},
                                     {"data-on-text", "complete"},
                                     {"data-off-text", "incomplete"},
                                     {"data-wrapper-class", "custom-size-flipswitch"}})
                        </th>
                        <th class="text-center">
                            Profesor
                        </th>
                        <th class="text-center">
                            Cursos
                        </th>
                        <th class="text-center">
                            Comisiones
                        </th>
                        <th class="text-center">
                            Proyectos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Items.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(modelItem => modelItem.Items[i].Selected,
                                new Dictionary<string, object>
                                    {{"id", "select"}})
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => modelItem.Items[i].Name)
                                @Html.HiddenFor(modelItem => modelItem.Items[i].Name)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => modelItem.Items[i].Course)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => modelItem.Items[i].Comission)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => modelItem.Items[i].Project)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div style="margin: 0 auto;">

            <input id="Submit1" type="submit" class="btn btn-primary" value="Enviar Carga Académica" />
        </div>
    }
</body>