@model IEnumerable<SACAAE.Models.StudyPlan>

@{
    ViewBag.Title = "Planes";
    Layout = "~/Views/Shared/Privado.cshtml";
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            /* Funcion llamada cuando se cambien los valores de las sedes o las modalidades */
            $("#sltModalidad, #sltSede").change(function () {

                var route = "/Plans/Planes/List/" + $('select[name="sltSede"]').val() + "/" + $('select[name="sltModalidad"]').val();
                //alert(route);

                $.getJSON(route, function (data) {
                    var items = "<tr><th>Plan de Estudio</th><th> </th><th> </th></tr>  ";
                    $.each(data, function (i, plan) {
                        var newLink = '<a href="@Url.Action("BloqueXPlan")/' + plan.ID + '">Ver Bloques</a>';
                        var newLinkDelete = '<a href="@Url.Action("EliminarPlan")/' + plan.ID + '">Eliminar</a>';
                        var $newLinkTarget = $('@Html.ActionLink("Ver Bloque", "BloqueXPlan")');
                        var href = $newLinkTarget.attr('href') + '?plan=' + plan.Value;
                        items += "<tr><td>" + plan.Nombre + "</td><td><td>" + newLink + "</td><td>" + newLinkDelete + "</tr>";
                    });

                    if (items != "") {
                        $("#datosPlan").html(items);
                    }
                });
            });
        });

    </script>
}
<h2 class="page-header">
    Planes de Estudio
</h2>
<p>
    <a href="@Url.Action("CrearPlan", "Plan")"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Agregar Plan de Estudio</a>
</p>
<table class="table  table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("BloqueXPlan", new { id = item.ID })" title="Ver Bloques">Ver Bloques</a>
                </td>
                <td>
                    <a href="@Url.Action("EliminarPlan", new { id = item.ID })" title="Eliminar">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>




