@model SACAAE.Models.Course

@{
    ViewBag.Title = "ModificarCurso";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div class="col-lg-4">
    <h2>Modificar Curso</h2>
    @if (TempData.ContainsKey("MessageError"))
    {
        <p class="text-danger">@TempData["MessageError"].ToString()</p>
    }
    @if (TempData.ContainsKey("MessageSuccess"))
    {
        <p class="text-success">@TempData["MessageSuccess"].ToString()</p>
    }
    <hr />
    <div class="span12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)

            <div class="editor-field">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", @id = "bloque", @value = @ViewBag.bloque })
                <br />
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2", @id = "plan", @value = @ViewBag.plan })
                <br />
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.TheoreticalHours, htmlAttributes: new { @class = "control-label col-md-2", @id = "curso", @value = @ViewBag.curso })
                <br />
                @Html.EditorFor(model => model.TheoreticalHours, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                @Html.ValidationMessageFor(model => model.TheoreticalHours, "", new { @class = "text-danger" })
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.PracticeHours, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />
                @Html.EditorFor(model => model.PracticeHours, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                @Html.ValidationMessageFor(model => model.PracticeHours, "", new { @class = "text-danger" })
            </div>

            <div class="editor-field">
                <label>Bloques</label>
                <select id="sltBloques" name="sltBloques" class="form-control">
                    @foreach (var item in ViewBag.Bloques)
                    {
                        <option value="@item.ID">@item.Description</option>
                    }
                </select>
                <br />
            </div>

            <div class="editor-field">
                @Html.LabelFor(model => model.External, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />
                @Html.EditorFor(model => model.External)
                @Html.ValidationMessageFor(model => model.External, "", new { @class = "text-danger" })
            </div>
            <br />
            <p>
                <input type="submit" value="Guardar" class="btn" />
                | @Html.ActionLink("Regresar", "CursoXPlanXBloque", new { plan = ViewBag.plan, bloque = ViewBag.bloque })
            </p>
            <input type="submit" name="button" value="Eliminar" class="btn" />

        }
    </div>
</div>
