@model SACAAE.Models.ViewModels.ScheduleProjectViewModel
@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/SiteScripts/GuardarDias.js")"></script>
    <script src="@Url.Content("~/Scripts/SiteScripts/assignProfesorProject.js")"></script>
}


    <style type="text/css">

    </style>
    <link href="~/Content/custom.css" rel="stylesheet" />

<body onload="Load()">
    <h2 class="page-header">Asignar Profesor a Proyecto</h2>
    <div class="col-lg-4">
        <div class="span12">
            @if (TempData.ContainsKey("MessageError"))
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["MessageError"].ToString()
                </div>
            }
            @if (TempData.ContainsKey("MessageSuccess"))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["MessageSuccess"].ToString()
                </div>
            }
            @using (Html.BeginForm("Asignar", "ProyectoProfesor", FormMethod.Post, new { @id = "formPost" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="editor-label">
                    @Html.Label("Profesores")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Professors", null, "-- Seleccione Profesor --", htmlAttributes: new { @class = "form-control" })
                   
                </div>
                <br />
                <div class="editor-label">
                    @Html.Label("Proyectos")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Projects", null, "-- Seleccione Proyecto --", htmlAttributes: new { @class = "form-control" })
                    
                </div>
                <br />
                <div>
                    @Html.Label("Hora Reconocimiento")
                </div>
                <div class="editor-field">
                    <select id="HourCharge" name="HourCharge" class="form-control">

                        <option selected="selected" value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <br />
                <table id="schedule_project">

                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="trRow1" data-day="Lunes" data-starthour="07:30 am" data-endhour="08:20 am">
                            <td>
                                <select id="tdRow1Day" onchange="onchangeDaySelection(1)">
                                    <option>Lunes</option>
                                    <option>Martes</option>
                                    <option>Miércoles</option>
                                    <option>Jueves</option>
                                    <option>Viernes</option>
                                    <option>Sábado</option>
                                </select>

                            </td>
                            <td>
                                <div id="campo_inicio">

                                    <select id="tdRow1StartHour" onchange="onchangeStartHourSelection(1)">
                                        <option>07:30 am</option>
                                        <option>08:30 am</option>
                                        <option>09:30 am</option>
                                        <option>10:30 am</option>
                                        <option>11:30 am</option>
                                        <option>12:30 pm</option>
                                        <option>01:00 pm</option>
                                        <option>02:00 pm</option>
                                        <option>03:00 pm</option>
                                        <option>04:00 pm</option>
                                        <option>05:00 pm</option>
                                        <option>06:00 pm</option>
                                        <option>07:00 pm</option>
                                        <option>08:00 pm</option>
                                        <option>09:00 pm</option>
                                    </select>

                                </div>
                            </td>
                            <td>
                                <select id="tdRow1EndHour" onchange="onchangeEndHourSelection(1)">
                                    <option>08:20 am</option>
                                    <option>09:20 am</option>
                                    <option>10:20 am</option>
                                    <option>11:20 am</option>
                                    <option>12:20 pm</option>
                                    <option>01:50 pm</option>
                                    <option>02:50 pm</option>
                                    <option>03:50 pm</option>
                                    <option>04:50 pm</option>
                                    <option>05:50 pm</option>
                                    <option>06:50 pm</option>
                                    <option>07:50 pm</option>
                                    <option>08:50 pm</option>
                                    <option>09:50 pm</option>
                                </select>
                            </td>
                            <td>
                                <a onclick="delete_row(1)" title="Eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

			 <p>
        		<a id="assign_comission" onclick="obtener_dias()" href="#"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Horario</a>
    		</p>

                <p>
                    <input id="buttonPost" type="submit"  value="Asignar" class="btn" />
                 

                </p>
            }
        </div>
    </div>
</body>